@page "/progressdiary"

@using DayProgress.Data
@using System.Threading;
@inject Services.ProgressService ProgressService
@inject IToastService ToastService
@inject IModalService Modal

<BlazoredModal Style="blazored-custom-modal"/>

<div id='progressHeaderContainer'>
    <button class="btn btn-primary" @onclick="ShowNewProgressEntryModal">New progress</button>
    <select class="form-control" id="progressPeriodSelect" @onchange="OnPeriodChanged">
        <option value="0">today</option>
        <option value="1">yesturday</option>
        <option value="7">7 days</option>
        <option value="30">30 days</option>
        <option value="9999">all</option>
    </select>
    @if (_progressTags != null)
    {
        <select class="form-control" id="progressTagSelect"></select>
    }

</div>

<div id='progressItemsContainer'>
    @if (_progressEntries != null)
    {
        @foreach (var pe in _progressEntries)
        {
            <div class='progressEntry'>
                <div class="progressItemCreateDate">@pe.WhenCreated</div>
                <div class="btn removeProgressItemButton oi oi-trash" @onclick="(() => OnDeleteProgressEntry(pe.Id))"></div>
                <div class="progressItemContent" @onclick="(() => ShowEditProgressEntryModal(pe))">@pe.ContentToShow</div>

                @if (@pe.Tags != null)
                {
                    <div class="progressItemTags">
                        tags: @(string.Join("; ", pe.Tags.Select(t => t.Title)))
                    </div>
                }
            </div>
        }
    }
</div>

@code {
    private IEnumerable<ProgressTag> _progressTags;
    private IEnumerable<ProgressEntry> _progressEntries;
    private int currentSelectedPeriod = 1;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _progressEntries = await ProgressService.GetProgressAsync(currentSelectedPeriod);
            _progressTags = await ProgressService.GetProgressTagsAsync();
        }
        catch(Exception ex)
        {
            ToastService.ShowError("Error with progress entries loading");
        }
    }

    public void ShowNewProgressEntryModal()
    {
        Modal.OnClose += ModalClosed;
        Modal.Show<NewProgressEntryModal>("New entry");
    }

    private void OnDeleteProgressEntry(int id)
    {
        _progressEntries = _progressEntries.Where(pe => pe.Id != id);
        try
        {
            ProgressService.DeleteProgressEntryAsync(id);
            ToastService.ShowSuccess("Entry was deleted");
        }
        catch(Exception ex)
        {
            ToastService.ShowError("Entry deletion error");
        }
    }

    void ModalClosed(ModalResult modalResult)
    {
        if (!modalResult.Cancelled)
        {
            try
            {
                _progressEntries = ProgressService.GetProgressAsync(currentSelectedPeriod).Result;
                InvokeAsync(StateHasChanged);
            }
            catch(Exception ex)
            {
                ToastService.ShowError("Error with updaring entries list");
            }
        }

        Modal.OnClose -= ModalClosed;
    }

    private void OnPeriodChanged(ChangeEventArgs e)
    {
        currentSelectedPeriod = int.Parse(e.Value.ToString());
        _progressEntries = ProgressService.GetProgressAsync(currentSelectedPeriod).Result;
    }

    private void ShowEditProgressEntryModal(ProgressEntry pe)
    {
        Modal.OnClose += ModalClosed;
        var parameters = new ModalParameters();
        parameters.Add("pe", pe);
        Modal.Show<EditProgressEntryModal>("Update entry", parameters);
    }
}